{% if site.giscus.repository and site.giscus.hostname %}

<script src="https://giscus.app/client.js"
        data-repo="gongna-au/gongna-au.github.io"
        data-repo-id="R_kgDOHp9bKw"
        data-category="Announcements"
        data-category-id="DIC_kwDOHp9bK84CTsjR"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="1"
        data-theme="light_tritanopia"
        crossorigin="anonymous"
        async>
</script>

{% endif %}
